{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container posts-content" style="margin-top:20px;">
  <div class="row justify-content-center"> 
    <div class="col-lg-6">
        {% for review in  place_reviews %}
          <div class="card mb-4" style="border: 1px solid rgba(24,28,33,0.06);">
        <div class="card-body">
          <div class="media mb-3">
            <img src="{{ review.user.photo.url }}" class="d-block ui-w-40 rounded-circle" alt="" style="width: 40px; height: auto;">
            <div class="media-body ml-3">
              <i><b>{{ review.user.username }}</b></i> rated it <b>{{ review.stars_given }}</b> stars
              <div class="text-muted small">{{ review.created_at }}</div>
            </div>
          </div>
          <p>
            {{ review.comment_text }}
          </p>
          <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-color: transparent; background-position: center center; background-size: cover; display: block; width: 100%; position: relative;">
            <img src="{{ review.place.image.url }}" class="ui-rect-content" alt="" width="100%" height="400px">
          </a>
        </div>
        <div class="card-footer" style="border-color: rgba(24,28,33,0.06);">
          <a href="javascript:void(0)" class="d-inline-block text-muted">
            <strong>123</strong> <small class="align-middle">Likes</small>
          </a>
          <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
            <strong>12</strong> <small class="align-middle">Comments</small>
          </a>
          <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
            <small class="align-middle">Repost</small>
          </a>
        </div>
      </div>
        {% endfor %}


    </div>
  </div>
</div>

{% endblock %}