<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bu landing varog'i</h1>
    {%if messages %}
    {%  for  message in messages %}
    
        {{message}}
    {%  endfor%}
    {%endif %}
    <p>
         <a style="color: blue;" href="{% url 'user:register'  %}">Register</a>/
         {% if user.is_authenticated %}
         <a style="color: red;" href="{% url 'user:logout'  %}">Logout</a>/
         {% else %}
         <a style="color: red;" href="{% url 'user:login'  %}">Login</a>/
         {% endif %}
         <a href="{%  url 'places:list' %}">Places</a>/
         <a href="{%  url 'user:profile' %}">Profile </a>/
        </p>
   
</body>
</html>


